{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap home">
              <ol class="post-list">
                 <lh><div class="circular" style="width: 60px;height: 60px;border-radius: 30px;-webkit-border-radius: 30px;-moz-border-radius: 30px;background: url({{site.owner.photo}}) no-repeat;margin:0 0 -50px -80px;float:left;"></div><h2><span class="bb">Piotr Limanowski<a href="#">⇝</a></span></h2></lh>
                  <li class="home-list">
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <p class="flat">
                          I am a fullstack Scala & Java developer based in Gdansk, PL. Making the the web better since early 2000s. λ and ω, vim-believer, code arsonist, tech junkie & future hoverboard owner.
                          Aside from shipping <a href="/projects">software</a> I <a href="/articles">write</a>, <a href="/talks">talk</a> and <a href="http://github.com/{{site.owner.github}}">do more software</a>.
                        </p>
                        <p class="flat">
                          You can see my <a href="{{site.owner.linkedin}}">background</a> or <a href="/resume.pdf">resume</a> and contact me on <a href="http://twitter.com/{{site.owner.twitter}}">twitter</a> or via <a href="mailto:{{site.owner.email}}">email</a>.</p>
                        </p>
                    </div>
                  </li>

                  <lh><h2><span class="bb"><a href="/talks"><span style="color:#3b3b3b">Talks</span> ⇝</a></span></h2></lh>
                  {% for post in site.categories.talks limit: 1 %}
                  <li class="home-list">
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{% if post.rel %}{{ post.rel }}{% else %}{{site.url}}{{ post.url }}{% endif %}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
                  {% for post in site.categories.talks offset: 1 %}
                  <li class="home-list">
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{% if post.rel %}{{ post.rel }}{% else %}{{site.url}}{{ post.url }}{% endif %}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y" }}</time></p>
                    </div>
                  </li>
                  {% endfor %}

                  <lh><h2><span class="bb"><a href="/articles"><span style="color:#3b3b3b">Articles</span> ⇝</a></span></h2></lh>
                  {% for post in site.categories.articles limit: 1 %}
                  <li class="home-list">
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{% if post.rel %}{{ post.rel }}{% else %}{{site.url}}{{ post.url }}{% endif %}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
                  {% for post in site.categories.articles offset: 1 %}
                  <li class="home-list">
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{% if post.rel %}{{ post.rel }}{% else %}{{site.url}}{{ post.url }}{% endif %}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                    </div>
                  </li>
                  {% endfor %}

              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}
